.student-reports-container {
  display: flex;
  margin-top: 1rem;
  padding-inline: 30%;
}

.student-reports-list {
  /* border-style: none; */
  flex: 1;
}

.no-reports {
  text-align: center;
  padding: 1rem;
  background: #f8fafc;
  border-radius: 8px;
  color: #64748b;
  font-style: italic;
}